parameters:
    project.dddcontext.listener.kernel.exception.class: Sfynx\DddBundle\Layer\Infrastructure\EventListener\HandlerException
    project.dddcontext.listener.kernel.response.profiler.class: Sfynx\DddBundle\Layer\Infrastructure\EventListener\HandlerJsonResponseProfiler
    project.dddcontext.listener.kernel.request.dynamic_database_orm.class: Sfynx\DddBundle\Layer\Infrastructure\EventListener\HandlerDynamicOrmDatabase
    project.dddcontext.listener.kernel.request.dynamic_database_odm.class: Sfynx\DddBundle\Layer\Infrastructure\EventListener\HandlerDynamicOdmDatabase
    project.dddcontext.listener.kernel.request.dynamic_database_couchdb.class: Sfynx\DddBundle\Layer\Infrastructure\EventListener\HandlerDynamicCouchedbDatabase
    project.dddcontext.listener.doctrine.dynamic_table.class: Sfynx\DddBundle\Layer\Infrastructure\EventListener\HandlerDynamicTable

    project.dddcontext.monolog.handler.socket.class: Sfynx\DddBundle\Layer\Infrastructure\Monolog\Handler\SocketHandler
    project.dddcontext.response.handler.class: Sfynx\DddBundle\Layer\Presentation\Response\Handler\ResponseHandler

    project.dddcontext.logger.class: Sfynx\DddBundle\Layer\Infrastructure\Logger\Logger

    project.serializer.strategy.class: Sfynx\DddBundle\Layer\Infrastructure\Serializer\SerializerStrategy
    project.request.strategy.class: Sfynx\DddBundle\Layer\Presentation\Request\Generalisation\Request\SymfonyStrategy
    project.resolver.strategy.class: Sfynx\DddBundle\Layer\Presentation\Request\Generalisation\Resolver\ResolverStrategy
    project.validator.strategy.class: Sfynx\DddBundle\Layer\Application\Generalisation\Validation\ValidationHandler\SymfonyValidatorStrategy

services:
    #
    # KERNEL EVENT EXCEPTION
    #
    project.dddcontext.listener.kernel.exception:
        class: %project.dddcontext.listener.kernel.exception.class%
        arguments: [@templating, @kernel, @service_container]
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }

    #
    # KERNEL EVENT RESPONSE
    #
    project.dddcontext.listener.kernel.response.profiler:
      class: %project.dddcontext.listener.kernel.response.profiler.class%
      tags:
        - { name: kernel.event_listener, event: kernel.response, priority: 1 }

    #
    # KERNEL EVENT REQUEST
    #
    project.dddcontext.listener.kernel.request.dynamic_database:
        class: %project.dddcontext.listener.kernel.request.dynamic_database_orm.class%
        arguments: [%database_type%, %database_multitenant_path_file%, @doctrine.dbal.default_connection]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }

    #
    # DOCTRINE EVENT REQUEST
    #
    project.dddcontext.listener.doctrine.dynamic_table:
        class: %project.dddcontext.listener.doctrine.dynamic_table.class%
        arguments: [%database_type%, %database_multitenant_path_file%]
        tags:
            - { name: doctrine.event_listener, event: loadClassMetadata }





    #
    # response handler
    #
    project.dddcontext.response.handler:
        scope: prototype
        class: "%project.dddcontext.response.handler.class%"
        arguments:
          - "@project.serializer.strategy"
          - "@project.request.strategy"

    #
    # request in strategy
    #
    project.request.strategy:
        class: "%project.request.strategy.class%"
        arguments: ["@request_stack"]

    #
    # jms serializer in strategy
    #
    project.serializer.strategy:
        class: "%project.serializer.strategy.class%"
        arguments: ["@jms_serializer"]

    #
    # validator in strategy
    #
    project.validator.strategy:
        class: %project.validator.strategy.class%
        arguments: ["@validator"]

    #
    # sf2 option resolver
    #
    project.symfony.options.resolver:
        class: Symfony\Component\OptionsResolver\OptionsResolver

    #
    # option resolver in strategy
    #
    project.resolver.strategy:
        class: "%project.resolver.strategy.class%"
        arguments:
            - "@project.symfony.options.resolver"





    #
    # MONOLOG:::configuration of the manager monolog processor
    #
    project.dddcontext.monolog.handler.socket:
        class: %project.dddcontext.monolog.handler.socket.class%

    #
    # SERVICE LOGGER for DDD LAYERS
    #
    project.dddcontext.logger:
        class: "%project.dddcontext.logger.class%"
        arguments: ["@logger"]

    project.dddcontext.logger.presentation:
        class: "%project.dddcontext.logger.class%"
        arguments: ["@logger"]
        tags:
            - { name: monolog.logger , channel: presentation }

    project.dddcontext.logger.application:
        class: "%project.dddcontext.logger.class%"
        arguments: ["@logger"]
        tags:
            - { name: monolog.logger , channel: application }

    project.dddcontext.logger.domain:
        class: "%project.dddcontext.logger.class%"
        arguments: ["@logger"]
        tags:
            - { name: monolog.logger , channel: domain }

    project.dddcontext.logger.infrastructure:
        class: "%project.dddcontext.logger.class%"
        arguments: ["@logger"]
        tags:
            - { name: monolog.logger , channel: infrastructure }
